:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --blue-color: #2196f3;
  --white-text-color: #ffffff;
  --transperent-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --pure-black-color: #000000;
  --basic-btn-color: #afb1b8;
  --active-btn-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

ul {
  padding-inline-start: 0px;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
}
.section {
  padding: 94px 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.link {
  text-decoration: none;
}

.text-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.text-logo--blue {
  color: var(--blue-color);
}

.text-logo--dark {
  color: var(--pure-black-color);
}

.text-logo--white {
  color: var(--white-text-color);
}

.header {
  border: 1px solid #ececec;
  /* padding: 24px 0; */
}

.header__container {
  display: flex;
  height: 80px;
}

.nav__logo {
  display: flex;
  margin-right: 93px;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav__list {
  height: 100%;
  display: flex;
  gap: 50px;
}

.nav__item {
  height: 100%;
}

.header-contact__item {
  height: 100%;
}

.header-contact {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-contact__icon-envelope {
  height: 12px;
  width: 16px;
  fill: var(--basic-btn-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__icon-smartphone {
  height: 16px;
  width: 10px;
  fill: var(--basic-btn-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}

.nav__link,
.header-contact__link {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--primary-bg-color);
  color: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--blue-color);
}

.header-contact__link {
  color: var(--secondary-text-color);
}

.header-contact__link:hover .header-contact__icon-envelope,
.header-contact__link:focus .header-contact__icon-envelope,
.header-contact__link:hover .header-contact__icon-smartphone,
.header-contact__link:focus .header-contact__icon-smartphone {
  fill: var(--blue-color);
}

.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--blue-color);
}

.hero {
  height: 600px;
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.hero-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border-style: none;
  color: var(--white-text-color);
  background-color: var(--blue-color);

  min-height: 50px;
  min-width: 200px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
}

.list-benefits {
  display: flex;
  gap: 30px;
}

.benefit {
  width: calc(100% / 4);
}

.benefit-icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefit-icon {
  display: block;
  width: 70px;
  height: 70px;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-benefits {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.paragraph-benefits {
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.section-about {
  padding-top: 0;
}

.img-do {
  display: block;
}

.list-do {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.work-item {
  position: relative;
}

.work-thumb {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  bottom: 0;

  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.team {
  background-color: var(--secondary-bg-color);
}

.list-team {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-name {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.img-block {
  display: block;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 16px;

  color: var(--secondary-text-color);
}

.social-item {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  height: 20px;
  width: 20px;
  fill: var(--basic-btn-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:hover,
.social-item:focus {
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-item:hover .social-icon,
.social-item:focus .social-icon {
  fill: var(--active-btn-color);
}

.member-social {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}

.clients-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-thumb {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--basic-btn-color);
  border-radius: 4px;

  align-items: center;
  justify-content: center;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo {
  width: 106px;
  height: 60px;
  fill: var(--basic-btn-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-thumb:hover,
.client-thumb:focus {
  border: 1px solid var(--blue-color);
}

.client-thumb:hover .client-logo,
.client-thumb:focus .client-logo {
  fill: var(--blue-color);
}

.footer {
  background-color: var(--hero-bg-color);
  padding: 60px 0;
}

.footer-logoadress {
  min-width: 231px;
}

.footer-contatiner {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-call {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-text-color);

  margin-bottom: 20px;
}

.footer-link {
  display: flex;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}

.footer-icon {
  height: 20px;
  width: 20px;
  fill: var(--white-text-color);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--blue-color);
}

.logo-bot {
  display: flex;
  margin-bottom: 20px;
}

.adress-list {
  line-height: 1.5;
}

.adress-list:not(:last-child) {
  margin-bottom: 9px;
}

.adress {
  color: var(--white-text-color);
  font-style: normal;
  line-height: 1.5;
}

.mail,
.phone {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.5;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--blue-color);
}

.current {
  position: relative;
  color: var(--blue-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--blue-color);
}

.footer-mailing {
}

.footer-form {
  display: flex;
}

.footer-form-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);

  margin-bottom: 20px;
}

.icon-footer-form {
  margin-left: 10px;
  height: 24px;
  width: 24px;
}

.input-footer {
  width: 358px;
  height: 50px;
  background-color: transparent;

  padding-left: 18px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer:focus {
  border: 1px solid var(--blue-color);
  outline: none;
}
.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;

  letter-spacing: 0.06em;

  cursor: pointer;
}

.submit-button:hover,
.submit-button:focus {
  background: #188ce8;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* PORTFOLIO */

.card {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: inherit;
  border: none;
  cursor: pointer;

  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--white-text-color);
  background-color: var(--blue-color);
}

.button-accent {
  color: var(--white-text-color);
  background-color: var(--blue-color);
}

.button-port {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
}

.button-port:hover,
.button-port:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-examples {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 370px;
  height: 294px;
  padding: 0 24px;

  align-items: center;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(33, 150, 243, 0.9);
}

.project-card:hover .project-overlay {
  transform: translateY(0);
}

.project-link:focus .project-overlay {
  transform: translateY(0);
}

.project-text {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.56;

  color: var(--white-text-color);
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project-app {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.about {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/* BACKDROPE */

.backdrope {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrope.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrope.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);

  min-height: 581px;
  min-width: 528px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--primary-bg-color);

  padding: 40px;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--active-btn-color);
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: var(--pure-black-color);
}

/* MODAL-DATA */

.text-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-bottom: 12px;

  color: var(--primary-text-color);
}

.modal-data {
  display: block;
}

.modal-data:nth-child(-n + 4) {
  margin-bottom: 10px;
}

.modal-data:nth-child(5) {
  margin-bottom: 20px;
}

.modal-input-description {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.modal-input-description:nth-last-child() {
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid var(--blue-color);
  outline: none;
}

.icon-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon-modal {
  fill: var(--blue-color);
}

.modal-input-description.comment {
  display: block;
}

.textarea {
  width: 100%;
  margin-top: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.textarea:focus {
  border: 1px solid var(--blue-color);
  outline: none;
}

.modal-input.comment {
  padding: 12px 16px;
}

.input-thumb {
  position: relative;
  display: flex;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  width: 18px;
  height: 18px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-checkbox-thumb {
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.agreement {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.icon-check {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-vector {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.—Åontract {
  color: var(--blue-color);
  text-decoration: underline;
}

.agreement:checked ~ .icon-check {
  opacity: 1;
}

.agreement:checked ~ .icon-vector {
  opacity: 0;
}

.submit-button-modal {
  margin: 30px auto 0 auto;
}
